@use '/src/styles/variables.scss' as *;

.data {
    width: 100%;
    padding: 0px 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .title {
        align-self: flex-start;
        color: $white-text;
        font-weight: 500;
        font-size: 12px;
    }


    .list {
        display: flex;
        flex-direction: column;
    }
}