$white-text: #F3FBFF;
$white-text-25: #F3FBFF40;
$black-text: #1F1F1F;
$white-inactive-text: #CBD4E2;
$white-inactive-transparent-text-60: #F3FBFF99;
$green-text: #55A962;
$red-text: #E84747;
$background: #181818;
$yellow: #EAC824;
$container-background: #1F1F1F;
$third-background: #2B2B2B;
$second-background: #232323;
$super-transparent-white: #F3FBFF26;
$yellow-gradient: linear-gradient(4.32deg, #D89D1E 70.93%, #EAC824 97.16%);