$full-white-text: #F3FBFF;
$white-text: #F3FBFF;
$white-transparent-text: #F3FBFF40;
$black-text: #1F1F1F;
$white-inactive: #CBD4E2;
$green-text: #55A962;
$red-text: #E84747;
$background: #181818;
$container-background: #1F1F1F;
$element-background: #2B2B2B;