@use '/src/styles/variables.scss' as *;

.header {
    padding: 0px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
        color: $white-text;
        white-space: nowrap;
    }

    .filter {
        cursor: pointer;
        color: $white-inactive-transparent-text-60;
        width: 85px;
        height: 25px;
        border-radius: 155px;
        background-color: $third-background;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        padding: 4px 10px;
        overflow: hidden;

        .icon {
            height: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 1px;
        }
    }
}