@use '/src/styles/variables.scss' as *;

.wrapper {
    position: fixed;
    bottom: 0;
    z-index: 10;
    display: flex;
    align-items: flex-end;
    left: 0;
    right: 0;
    justify-content: center;
}

.container {
    border-radius: 20px 20px 0 0;
    width: 390px;
    position: fixed;
    display: flex;
    background-color: #212121;
    padding: 14px 34px 32px;
    justify-content: space-between;
}

.item {
    cursor: pointer;
    width: 53px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .icon-wrapper {
        width: 27px;
        height: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .title {
        height: 13px;
        font-size: 9px;
        font-weight: 300;
        letter-spacing: 0.06px;
        line-height: 13px;
        color: $white-text;
        font-family: San Francisco/Caption 2/Semibold;
    }
}

.active {
    * {
        fill: $yellow;
    }

    .title {
        color: $yellow;
    }
}